body {
    background-color: #FFFFFF;
    height: 100%;
}

h1 {font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
  color: #FFFFFF;
}

h2 {font-family: 'Roboto', sans-serif;
font-weight: lighter;
font-size: 38px;
color: gray;
}

h3 {font-family: 'Roboto', sans-serif;
font-weight: lighter;
font-size: 36;
}

h4 {font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: lighter;
color: gray;
line-height: 1px;
}

p{font-family: 'Abel', sans-serif;
}

a{text-decoration: none;
  color: #667C87;
  font-family: sans-serif;
  font-weight: lighter;
}
a:hover{color: #CFCFCF;
}

img{
    max-width: 100%;
    height: auto;
  }

.header {background-color: #B2463D;
    display: flex;
    align-items:center;
    justify-content:flex-start;
}

.header-logo {
  width:20%;
  margin-left:20px;
  padding: 10px;
}

.menu {
  border-color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
   align-items:center;
   justify-content:space-evenly;
 }

.menu-link {color: #FFFFFF;
  margin:5px;
  padding:10px;
  border: 1px;
  border-style:solid;
  border-color: #FFFFFF;
  text-decoration: none;
  font-weight: lighter;
  font-family: sans-serif;
}

.menu-link:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  margin:5px;
  padding:10px;
  border: 1px;
  border-style:solid;
  border-color: #FFFFFF;
  text-decoration: none;
  font-weight: lighter;
  font-family: sans-serif;
}

.hero-image{
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url("./images/toppbild.jpg");
    height: 455px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
  padding:100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.info-heading{display:flex;
align-items:center;
justify-content: flex-start;
}

.info-section {display: flex;
align-items: stretch;
justify-content:space-evenly;
padding-left:50px;
padding-right: 50px;
margin-top: 50px;
margin-bottom: 50px;
max-width: 100%;
height: auto;
}

.info {
  width: 400px;
  border: 1px;
  border-style: solid;
  border-color: #F2F2F2;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item1{background-color: #E7A670;}

.item3{background-color: #667C87;}

.info-heading {margin-bottom: 0;
font-size: 24px;
color: white;
}

.info-text{padding-left:35px;
          padding-right: 35px;
          color: #FFFFFF;
          font-size: 18px;
          padding-bottom: 15px;
}

#simon {display: flex;
align-items: center;
justify-content: center;
height: auto;
padding-left: 100px;
padding-right: 100px;
padding-top: 50px;
padding-bottom: 50px;
background-color: #F1F1F1f1;
}

.simon-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
}

.simon-image{display: flex;
align-items: center;
justify-content: center;
max-height: 600px;}

#contact-section-button{
  background-color: #F1F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: #FFFFFF;
  font-size: 24px;
  padding: 10px;
  border: 2px;
  border-style:solid;
  border-color: #667C87;
  margin-bottom: 50px;
}

.button:hover{border-color: #CFCFCF;
}

#priser{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pris{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pris-grupp1{
  margin: 5px;
}

.pris-grupp2{
    margin: 5px;
}

.pris-grupp3{ margin:5px;}

.prisgrupp1{display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 10px;
  background-color: #F1F1F1;
  border-radius: 70px;
  padding:15px;
}

.prisgrupp2{display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 10px;
  border-radius: 70px;
  padding:15px;
  background-color: #ffe8fc;
}

.prisgrupp3{display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 10px;
  border-radius: 70px;
  padding:15px;
  background-color: #F1F1F1;
}

.gallery{display: flex;
align-items: center;
justify-content: space-around;
padding-top: 50px;
padding-bottom: 10px;
background-color: #F1F1F1;
}

.gallery-images{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom:5px;
  background-color: #F1F1F1;
  flex-wrap: wrap;
}

.gallery-img{
  padding-bottom: 10px;
  padding-top: 10px;
}

footer{border: solid;
  border-width: 1px;
  border-color: gray;
  background-color: gray;
  color: white;
}

.footer-container{padding: 50px;
display: flex;
align-items: center;
justify-content: space-evenly;}

.social{max-height: 30px;
flex-direction: column;
padding: 10px;}

#some{display:flex;
align-items: center;
justify-content: flex-start;}

/* For mobile phones: */
@media only screen and (max-width: 760px) {
.menu {
  display: none;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

.header-logo {
  width:50%;
}

.hero-image {
  height: 300px;
}

.hero-text{text-align:center;
}

.info-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding:10px;
width: 100%;
max-width:100%;
height: auto;
}
.info {max-width:100%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#simon{
display: flex;
flex-direction: column;
margin: 5px;
padding: 5px;
}
.simon-text{padding: 10px;}
